body {
    background-color: #f0fdf4;
    font-family: Arial, sans-serif;
  }
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(-6deg, #e91365, #7a0d88);
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-right: 60px;
  }
  
  .nav-title {
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;
    flex-shrink: 0;
  }
  
  .nav-list li {
    flex-shrink: 0;
  }
  
  .link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
  }
  
  .link:hover {
    color: #030303;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background: url('/img1.jpg') no-repeat center center/cover;

  }
  
  .container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0a2e19;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 320px;
    outline: none;
  }
  
  button {
    margin-top: 15px;
    padding: 10px;
    background-color: #16a34a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #15803d;
  }
  
  .result-box {
    margin-top: 20px;
    padding: 15px;
    color:#0a2e19;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 320px;
    text-align: center;
  }
