
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/loginsignup.jpg') no-repeat center center/cover;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.login-container {
  color:black;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}


.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(225deg, #11cb39, #1a4727);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: transform 0.3s ease-in-out,background-color 0.3s ease;
}

